/*.row.zebra:nth-of-type(even){*/
/*    background-color: #dcdcdc;*/
/*}*/

/*.event-time {*/
/*    color: blue;*/
/*}*/

/*.event-name {*/
/*    color: #4e555b;*/
/*    font-weight: bold;*/
/*}*/

/*.page-title {*/
/*    margin-bottom: 40px;*/
/*}*/

/*.column-title {*/
/*    margin-bottom: 20px;*/
/*    margin-right: 1px;*/
/*    margin-left: 1px;*/
/*    text-align: center;*/
/*    color: white;*/
/*    background-color: midnightblue;*/
/*    width: 100%;*/
/*}*/

/*.button-bar {*/
/*    margin-top : 20px;*/
/*    margin-bottom: 0px;*/
/*    horiz-align: center;*/
/*    width: 100%;*/
/*    float: bottom;*/
/*    text-align: center;*/
/*    padding: 20px;*/
/*}*/

/*.preview-column {*/
/*    margin-left: 2px;*/
/*    margin-right: 2px;*/
/*}*/

/*.good-looking {*/
/*    color: #2a9055;*/
/*}*/

/*.bad-looking {*/
/*    color: red;*/
/*}*/

/*.group-title {*/

/*    background-color:#007CBB;*/
/*    color: #D0CECD;*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*}*/

/*.column-no-padding {*/
/*    padding-left: 0px;*/
/*    padding-right: 0px;*/
/*}*/

/*.card-link-icon-container {*/
/*    margin-left: 5px;*/
/*    margin-right: 5px;*/
/*    margin-top: 8px;*/
/*}*/

/*.card-link-icon {*/
/*    height: 25px;*/
/*}*/



/*.card-header {*/
/*    color: #00336D;*/
/*}*/

/*.layout-column {*/
/*    padding-right: 5px!important;*/
/*    padding-left: 5px!important;*/
/*}*/

/*.panel-left {*/
/*    float: left;*/
/*    width: 25%;*/
/*    height: 100%;*/
/*    background-color: #2a9055;*/
/*}*/

/*.panel-right {*/
/*    float: right;*/
/*    width: 75%;*/
/*    height: 100%;*/
/*    background-color: #1d68a7;*/
/*}*/


.image-container {
    position: relative;
}

.image-container-profile {
    width: 100%;
}

.image-container-logo {
    width:30%;
    position:absolute;
    top:40%;
    left: 35%;
}

.frame-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.left-top-logo > img {
    height: 6rem;
}

/* Overrides */
.left-side-menu {
    padding-top: 150px;
}

.logo {
    top: 20px;
}

.display-pair {
    display: block;
    margin-left: 30px;
}

.attribute-label {
    color: #1d68a7!important;
}

.inbox-widget .inbox-item .inbox-item-img img {
    width: 40px;
    height: 40px;
}

.textarea-background {
    background-color: #fafbfe;
    display: block;
    width: 100%;
}

.button-image {
    height: 24px;
}

.ribbon-candidate span {
    background-color: lightslategrey;
}

.user-group-header {
    width: 100%;
    color: white;
    background-color: #6c757d;
}

.checkbox-aligned {
    position: relative;
    top: 2px;
}

.presel-button {
    width: 100px!important;
    margin: 10px;
}

.auth-fluid-right {
    background: url("../assets/images/bg-auth.jpg") center !important;
}


/*.row.zebra:first-of-type {*/
/*    background-color: #1d643b;*/
/*}*/
