.row.zebra:nth-of-type(even){
    background-color: #dcdcdc;
}

.event-time {
    color: blue;
}

.event-name {
    color: #4e555b;
    font-weight: bold;
}

.page-title {
    margin-bottom: 40px;
}

.column-title {
    margin-bottom: 20px;
    margin-right: 1px;
    margin-left: 1px;
    text-align: center;
    color: white;
    background-color: midnightblue;
    width: 100%;
}

.button-bar {
    margin-top : 20px;
    margin-bottom: 0px;
    horiz-align: center;
    width: 100%;
    float: bottom;
    text-align: center;
    padding: 20px;
}

.preview-column {
    margin-left: 2px;
    margin-right: 2px;
}

.good-looking {
    color: #2a9055;
}

.bad-looking {
    color: red;
}

.group-title {

    background-color:#007CBB;
    color: #D0CECD;
    text-align: center;
    padding: 10px;
}

.column-no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.card-link-icon-container {
    margin-left: 5px;
    margin-right: 5px
}

.card-link-icon {
    height: 50px;
}

/*.row.zebra:first-of-type {*/
/*    background-color: #1d643b;*/
/*}*/
